*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: hsl(200, 90%, 24%);
    font-family: Arial, Helvetica, sans-serif;
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-app{
    background-color: white;
    max-width: 600px;
    padding:30px ;
    margin: 50px auto;
    border-radius: 15px;

    }
    .search-form{
        display: flex;
        align-items: center;
    }
    input{
        flex:1;
        padding: 1rem;
        border-radius: 1rem;
        border: 2px solid #3498db;
        font-size: 1rem;

    }
    .search-button{
        background-color: #3498db;
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        color: white;
        cursor: pointer;
        margin-left: 0.8rem;
        transition: background-color .3s ease ;

    }
    .search-button:hover{
        background-color:hsl(200, 90%, 24%) ;
    }
    .city-date-section{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .city-date-section .city-name{
        font-size: 2rem;
        opacity: 0.9;
        text-transform: uppercase;
    
    }
    .city-date-section .date{
        background-color: #c3eaf4;
        padding: 5px 10px;
        border-radius: 1rem;
    }
    .temprature-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.2rem;
}
    .temprature-info .temp{
    font-size: 10rem;
    
    text-transform: uppercase;
}
    .temprature-info .description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    .temprature-info .description i{
    font-size: 1.5rem;
    opacity: 0.8;
}
    .temprature-info .description span{
    font-size: 1.5rem;
    opacity: 0.8;
}
.additional-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}
.wind-info ,  .humidity-info , .visibility-info {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 8px rgba(0, 0,0,0.24);

    background-color: #ecf0f1;
    padding: 30px 20px;
    border-radius: 15px;
  
}
.additional-info .material-icons{
    font-size: 3rem;
    opacity: 0.8;
}
.wind-info div, .humidity-info div, .visibility-info div{
    text-align: center;
    text-transform: uppercase;
    
}
.



